
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lora&family=Ubuntu&display=swap');

/* gloval variables start */

:root{
    --heading__font :'Ubuntu', sans-serif;
    --body__font : 'Lora', serif;
    --fancy__font : 'Handlee', cursive;
  --primary__color : #9ad3bc;
  --secondary__color : #f3eac2;
  --third__color:#f5b461;
  --color__4 : #ec524b;
    
}

.button-1{
    background-color: var(--third__color);
    padding:10px 20px;
    font-weight: bold;  
    border: 1px solid transparent; 
    transition: ease-in 0.4s;
    margin-left: 4px;
}
.button-1:hover{
    background-color: white;
    border-color: var(--third__color);

}




/* global variables end */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
       background-color: #ffffff;
}



#header .menu .navbar {
  
    padding: 0.7rem 0rem;
    background-color: #ffffff;
    font-family: var(--heading__font);
 
}

#header .menu .navbar .nav-link {
    color: #404040;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    position: relative;
}

#header .menu .navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color__4);
    transform: scaleX(0.0);
    transform-origin: left;
    transition: transform 300ms ease-in;
}
#header .menu .navbar .nav-link:hover::after{
    transform: scale(1);
}

#header .menu .navbar .navbar-nav .active a{
    color: var(--color__4);
}
/* navbar end */

/* background start */
#background .container .row .titles h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-left: 2px;
}
#background .container .row .titles h1 {
    font-size: 5rem;
}
#background .container .row .titles h3 {
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 4px;
}
#background .container .row .titles {
    margin-top: 20%;
    
}

#background .container .row .image {
    
    margin-top: 10%;
   display: flex;
     justify-content: center;
}

#background .container .row .image img {
      width: 300px;
    
}
.fa-paper-plane {
    padding: 5px;
}

#background .container .row .icons a {
    padding: 20px 16px;
    color: #628e7c;
}
/* background end */